.modal.fade.right#basicExampleModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title#exampleModalLabel Модалочка
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p А тут хуякс и просто модалка! Внезапно да?
      .modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") Закрыть
        button.btn.btn-primary(type="button") Перейти