html.h-100(lang='ru')
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
    title Template.v.1.0
  body.h-100
    #site.site.d-flex.flex-column.h-100
      include sections/section-header.pug
      main.main.flex-grow-1
        include ./sections/section-carousel.pug
        include ./sections/section-areas
        include ./sections/section-info-red
        include ./sections/section-video
        include ./sections/section-gallery
        include ./sections/section-news
        include ./sections/section-info-dark
        include ./sections/section-feedback
        include ./sections/section-about
      include ./sections/section-bootnav
      include ./sections/section-footer
      include ./components/modal.pug
