.header {
  padding-top: 10px;
  background: black;

  @include susy-breakpoints($sm) {
    padding-top: 36px;
  }

  @include susy-breakpoints($lg) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    z-index: 10;
    background: none;
  }

  &__contacts {
    padding-top: 8px;
    text-align: center;

    @include susy-breakpoints($sm) {
      text-align: right;
    }
  }

  &__contacts-phone {
    font-size: 1.125em;
  }

  .socialls {
    justify-content: center;

    @include susy-breakpoints($sm) {
      justify-content: flex-end;
    }

    &__item {
      margin-right: 0;
      margin-left: 6px;
    }
  }
}
