.page-block {
  &.text-white {
    .blog {
      &__item {
        background: $color-dark-a7;
      }
    }
  }
}

.blog {
  &__photo-item {
    position: relative;
  }

  &__counter {
    position: absolute;
    top: 0;
    right: 15px;
  }

  &__item {
    background: $color-light-a7;
  }
}