// info dark
section.section-info-dark.info-dark.text-center
  .container.info-dark__sub-bg
    .row
      .col-sm-12
        .description.description--big.pb-2 Спарринги на гуманизированном оружии!
        .description.description--medium Очень аккуратные спаринги :- )



// /info dark