// gallery
section.section-news.news
  .container
    .row
      .col-sm-12.px-0
        .heading.heading--h2.text-uppercase.text-center
          h2 Последние новости
        .gallery__wrap.pb-2
          .news__list
            .row.w-100.news__row
              .col.news__col
                .news__item
                  a.news__img(style="background-image: url('https://i.pinimg.com/originals/31/62/30/3162309d3c8ab1ace746d30ddc2d4f9f.jpg')")
                  .news__description
                    .news__title.text-uppercase.font-weight-bold.pb-3 Международное пожимание рук по анукански
                    .news__anonce Грандмастер, он же самопровозглашенный полубог Джек прибудет в Тверь для семинара по Анунаски...
                    .readmore.readmore--dark.text-center
                      a.readmore__link Подробнее
                        span.readmore__arrow
              .col.news__col
                .news__item
                  a.news__img(style="background-image: url('https://i.pinimg.com/originals/31/62/30/3162309d3c8ab1ace746d30ddc2d4f9f.jpg')")
                  .news__description
                    .news__title.text-uppercase.font-weight-bold.pb-3 Международное пожимание рук по анукански
                    .news__anonce Грандмастер, он же самопровозглашенный полубог Джек прибудет в Тверь для семинара по Анунаски...
                    .readmore.readmore--dark.text-center
                      a.readmore__link Подробнее
                        span.readmore__arrow
              .col.news__col
                .news__item
                  a.news__img(style="background-image: url('https://i.pinimg.com/originals/31/62/30/3162309d3c8ab1ace746d30ddc2d4f9f.jpg')")
                  .news__description
                    .news__title.text-uppercase.font-weight-bold.pb-3 Международное пожимание рук по анукански
                    .news__anonce Грандмастер, он же самопровозглашенный полубог Джек прибудет в Тверь для семинара по Анунаски...
                    .readmore.readmore--dark.text-center
                      a.readmore__link Подробнее
                        span.readmore__arrow
              .col.news__col
                .news__item
                  a.news__img(style="background-image: url('https://i.pinimg.com/originals/31/62/30/3162309d3c8ab1ace746d30ddc2d4f9f.jpg')")
                  .news__description
                    .news__title.text-uppercase.font-weight-bold.pb-3 Международное пожимание рук по анукански
                    .news__anonce Грандмастер, он же самопровозглашенный полубог Джек прибудет в Тверь для семинара по Анунаски...
                    .readmore.readmore--dark.text-center
                      a.readmore__link Подробнее
                        span.readmore__arrow
        .readmore.readmore--dark.text-center
          a.readmore__link Архив новостей
            span.readmore__arrow

// /gallery