// header
header.section-header
  .container
    .row
      .col-sm-12.text-center
        h3 Тренировки по филиппинским боевым искусствам
        p FCS, kali, Абанико Трес Пунтас, Панунтукан , silat
// /header