// footer
footer.section-footer.footer
  .container
    .row
      .col-sm-12.text-center
        .footer__text.py-3
          .footer__copy-text
            a.link.footer__copy-link(href='www.akstver.ru') © www.akstver.ru
            span.footer__copy-date 2000-2019 Все права защищены
            span.footer__made-text Разработка сайта -
              a.link.footer__made-link(href="http://rusich69.ru" target="_blank") студия Русич
// /footer