// gallery
section.section-video.video.text-center
  .container
    .row
      .col-sm-12
        .heading.heading--h2.text-white.text-uppercase
          h2 Видео
        .video__wrap.pb-5
          .row
            .col-sm-6.video__block.video__block--1
              a.video__image.video__image--vertical.video__image--full(style="background-image: url('https://i.pinimg.com/originals/31/62/30/3162309d3c8ab1ace746d30ddc2d4f9f.jpg')")
            .col-sm-6.video__block.video__block--2
              a.video__image.video__image--vertical.video__image--full(style="background-image: url('https://i.pinimg.com/originals/31/62/30/3162309d3c8ab1ace746d30ddc2d4f9f.jpg')")
        .readmore
          a.readmore__link.text-white Перейти к фотогалерее
            span.readmore__arrow

// /gallery