// header
header.section-header
  .container
    .row
      .col-sm-12.text-center
        h3 Ждем вас  каждую среду, четверг и пятницу!
        p Клуб &quot;Кэнсинкан&quot;, ул. Спартака, 16а
// /header