// gallery
section.section-gallery.gallery.text-center
  .container
    .row
      .col-sm-12
        .heading.heading--h2.text-white.text-uppercase
          h2 Наше фото
        .gallery__wrap.pb-5
          .row
            .d-none.d-lg-block.col-lg-3.gallery__block.gallery__block--1
              a.gallery__image.gallery__image--vertical.gallery__image--full(style="background-image: url('./img/vit.jpg')")
            .col-lg-3.gallery__block.gallery__block--2
              a.gallery__image.gallery__image--full(style="background-image: url('./img/vit.jpg')")
              a.gallery__image.gallery__image--full(style="background-image: url('./img/vit.jpg')")
            .col-lg-6.gallery__block.gallery__block--3
              a.gallery__image.gallery__image--half(style="background-image: url('./img/vit.jpg')")
              a.gallery__image.gallery__image--half(style="background-image: url('./img/vit.jpg')")
              a.gallery__image.gallery__image--full(style="background-image: url('./img/vit.jpg')")
        .readmore
          a.readmore__link.text-white Перейти к фотогалерее
            span.readmore__arrow

// /gallery