// info red
section.section-info-red.info-red.text-center.text-white
  .container.info-red__sub-bg
    .row
      .col-sm-12
        .description.description--big.pb-2 Ждем вас  каждую среду, четверг и пятницу !
        .description.description--medium Клуб "Кэнсинкан", ул. Спартака, 16а
// /info red