// areas
section.section-areas.areas
  .container
    .row
      .col-sm-12.col-xl-10.offset-xl-1
        .heading.heading--h2.text-uppercase.text-center
          h2 Направления
        .areas__wrap.pb-5
          .row.areas__row
            .col-sm-6.col-md-4.areas__block.areas__block--1
              .areas__img
              .areas__title.text-uppercase.font-weight-bold.pb-3.text-center Палочный бой
              .areas__description Берем палку, а может несколько в свои руки, и начинаем колбасить вашего сына. Раньше было лучше...
            .col-sm-6.col-md-4.areas__block.areas__block--2
              .areas__img
              .areas__title.text-uppercase.font-weight-bold.pb-3.text-center Рукопашный бой
              .areas__description Берем палку, а может несколько в свои руки, и начинаем колбасить вашего сына. Этот ритуал забивания проводится со времен появления первого теранозавра. Раньше было лучше...
            .col-sm-6.col-md-4.areas__block.areas__block--3
              .areas__img
              .areas__title.text-uppercase.font-weight-bold.pb-3.text-center Ножевой бой
              .areas__description Берем палку, а может несколько в свои руки, и начинаем колбасить вашего сына. Раньше было лучше...
        .readmore.readmore--dark.text-center
          a.readmore__link Подробнее о стилях и направлениях
            span.readmore__arrow

// /areas