// gallery
section.section-gallery.gallery.text-center
  .container
    .row
      .col-sm-12
        .heading.heading--h2.text-white.text-uppercase
          h2 Наше фото
        .gallery__wrap.pb-5
          .row
            .d-none.d-lg-block.col-lg-3.gallery__block.gallery__block--1
              a.gallery__image.gallery__image--vertical.gallery__image--full(style="background-image: url('https://i.pinimg.com/originals/31/62/30/3162309d3c8ab1ace746d30ddc2d4f9f.jpg')")
            .col-lg-3.gallery__block.gallery__block--2
              a.gallery__image.gallery__image--full(style="background-image: url('https://imgfon.ru/Images/Download/Original/Movies/rasa-chuzhoy-truten-chuzhie-chuzhoy_zavet-ksenomorf.jpg?img.20')")
              a.gallery__image.gallery__image--full(style="background-image: url('https://f.kinozon.tv/%D1%81%D1%82%D0%BE%D0%BF_%D0%BA%D0%B0%D0%B4%D1%80%D1%8B/511/%D0%A7%D1%83%D0%B6%D0%BE%D0%B9_2_%D0%A7%D1%83%D0%B6%D0%B8%D0%B5-2.jpg')")
            .col-lg-6.gallery__block.gallery__block--3
              a.gallery__image.gallery__image--half(style="background-image: url('https://get.wallhere.com/photo/Alien-movie-movies-1274841.jpg')")
              a.gallery__image.gallery__image--half(style="background-image: url('https://i.pinimg.com/originals/eb/aa/3c/ebaa3c1ee7fee542b28c76bd0d2d7b73.jpg')")
              a.gallery__image.gallery__image--full(style="background-image: url('https://www.startfilm.ru/images/base/film/f_660344/big_startfilmru1347333.jpg')")
        .readmore
          a.readmore__link.text-white Перейти к фотогалерее
            span.readmore__arrow

// /gallery