// about
section.section-about.about
  .container
    .row
      .col-sm-12
        .heading.heading--h2.text-center.text-uppercase
          h2 О клубе
        .description.font-weight-bold
          p Официальное представительство KFC Burger Russia, Региональной Федерации Арнис и Евроазиатского центра Modern Talking проводит тренировки по Филипинским боевым искусствам:
          p KFC Кали, Абанико Трес Пунтас, Панунтукан , Силат, Пилатос. Придерживаясь принятой в  последние годы практике мы практикуем битвы натрезубцах, бои на ножах в поезде и обычный бой на лодыжках ...
        .break.break--round
        .address__table.address.font-weight-bold
          .address__row
            .address__col.address__label адрес:
            .address__col.address__info ул. Спартака 16а, Клуб "Кэнсинкан"
          .address__row
            .address__col.address__label тел:
            .address__col.address__info +7 915 71802 15
          .address__row
            .address__col.address__label e-mail:
            .address__col.address__info butur@mail.ru

// /about