// video
section.section-video.video.text-center
  .container
    .row
      .col-sm-12
        .heading.heading--h2.text-white.text-uppercase
          h2 Видео
        .video__wrap.pb-5
          .row
            .col-sm-6.video__block.video__block--1
              a.video__image.video__image--vertical.video__image--full(style="background-image: url('./img/vit.jpg')")
                span.video__description Видео мысленного разговора грандмастера с горой...
                span.video__button
            .col-sm-6.video__block.video__block--2
              a.video__image.video__image--vertical.video__image--full(style="background-image: url('./img/vit.jpg')")
                span.video__description Видео ожесточенной битвы на вершине Эвереста...
                span.video__button
        .readmore
          a.readmore__link.text-white Всё видео
            span.readmore__arrow

// /video